<h1>New user</h1>

<script type="text/javascript" src="http://platform.linkedin.com/in.js?async=true"></script>
<script type="text/javascript">
    IN.init({
        onLoad: 'requestFields',
        api_key: '8z6zdjt5yetc',
        scope: 'r_basicprofile r_emailaddress r_contactinfo r_fullprofile',
        authorize: true
    });
    
    function login(result) {
        var id = result.values[0].id;
        var field = document.getElementById('users-new-text-field-login-id');
        var form = document.getElementById('users-new-form');
        
        console.log(form, field);
        
        if (form && field) {
            field.value = id;
            // form.submit();
        }
    }
    
    function requestFields() {
        IN.User.authorize(onAuthorized);
    }
    
    function onAuthorized() {
        IN.API.Profile("me").fields("id").result(login);
    }
</script>

<br />
<br />

<%= form_for User.new, :html => { :id => 'users-new-form' } do |f| %>
  <div class="field">
    <%= f.label :login_id %><br />
    <%= f.text_field :login_id, :id => 'users-new-text-field-login-id' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', users_path %>