<p id="notice"><%= notice %></p>

<p>
  <% if @user.info && @user.info.first_name %>
    <div id="user-show-name">
      <%= @user.info.first_name %> <%= @user.info.last_name %>
    </div>
  
    <% if card=@user.info.card %>
      <div class="user-show-title">
        My Card
      </div>
      
      <%= link_to(card) do %>
        <%= render :partial => 'cards/card', :locals => { :card => card } %>
      <% end %>
    <% end %>
  <% else %>
    <% if @user.info %>  
      <%= link_to 'Create My Card', { 
          :controller => "cards", 
          :action => "new" 
        }, 
        :class => 'card-button' %>
    <% else %>
      <%= link_to 'Add My Info', { 
          :controller => "infos", 
          :action => "new" 
        }, 
        :class => 'card-button' %>
    <% end %>
  <% end %>
  
  <% if @user.cards.length > 0 %>
    <div class="user-show-title" id="user-show-others">
      Cards From Others
    </div>
    
    <% @user.cards.each do |card| %>
      <%= link_to(card) do %>
        <div class="user-card">
          <%= render :partial => 'cards/card', :locals => { :card => card } %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  
  <%= link_to "Logout",
    { 
      :controller => "admin", 
      :action => "logout" 
    },
    :class => 'card-button card-button-last' %>
    
    <div id="user-footer">
    </div>
</p>
