<%= form_for(@info) do |f| %>
  <% if @info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@info.errors.count, "error") %> prohibited this info from being saved:</h2>

      <ul>
      <% @info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, :id => 'infos_text_field_first_name' %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, :id => 'infos_text_field_last_name' %>
  </div>
  <div class="field">
    <%= f.label :organization %><br />
    <%= f.text_field :organization %>
  </div>
  <div class="field">
    <%= f.label :address_line_1 %><br />
    <%= f.text_field :address_line_1, :id => 'infos_text_field_address_line_1' %>
  </div>
  <div class="field">
    <%= f.label :address_line_2 %><br />
    <%= f.text_field :address_line_2, :id => 'infos_text_field_address_line_2' %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number, :id => 'infos_text_field_phone_number'  %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, :id => 'infos_text_field_email' %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website, :id => 'infos_text_field_website'  %>
  </div>
  <div class="field">
    <%= f.label :job_title %><br />
    <%= f.text_field :job_title %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'card-button-input', :id => 'card-button-input' %>
  </div>
<% end %>
